{
  "Enabled": {{ eco_backup | lower }},
  "MaxBackupsInLastHour": {{ eco_backup_max_last_hour }},
  "MaxHourlyBackups": {{ eco_backup_max_hourly }},
  "MaxDailyBackups": {{ eco_backup_max_daily }},
  "MaxWeeklyBackups": {{ eco_backup_max_weekly }},
  "BackupFrequencyInHours": {{ eco_backup_frequency }},
  "HeadBackupEnabled": {{ eco_backup_head | lower }}
}
