{
  "MaxActivePlayers": {{ eco_max_active_players }},
  "ShelfLifeMultiplier": {{ eco_shelflife_mult }},
  "ExhaustionAfterHours": {{ eco_exhaust_hours }},
  "RolloverDailyPlaytime": {{ eco_rollover_playtime | lower }},
  "MaximumPlaytimeBeforeExhausted": {{ eco_max_playtime }}
}
