{
  "AllowOverthrow": {{ eco_overthrow }},
  "ValueAdditionToOverthrow": {{ eco_value_addition_overthrow }},
  "DayRangeForActiveDemographic": {{ eco_days_active_demo }},
  "HoursPlayedToBeActiveDemographic": {{ eco_hours_to_be_active_demo }},
  "DayRangeForAbandonedDemographic": {{ eco_days_abandoned_demo }},
  "HoursPlayedToBeAbandonedDemographic": {{ eco_hours_to_be_abandoned_demo }},
  "CitizenAgeForAbandonedDemographic": {{ eco_age_for_abandoned_demo }},
  "MinutesBetweenCivicsUpdates": {{ eco_updates_minutes }},
  "AllowInvalidCivicContainerTimeInMinutes": {{ eco_allow_invalid_container_minutes }},
  "RecurringTransferFrequency": {{ eco_recurring_transfer_freq }},
  "AllowLawsToPreventLoginOrPlay": {{ eco_laws_prevent_login_play }},
  "BasicElectionSettings": {
    "MaximumElectionHours": {{ eco_basic_election_max_hours }},
    "MinimumPercentOfEligibleVotersRequired": {{ eco_basic_election_voters_min_percent_required }},
    "MinimumDaysBetweenElectionsOfThisType": {{ eco_basic_election_min_days_between }},
    "EndElectionEarlyWhenThisPercentHaveVoted": {{ eco_basic_election_end_early_voters_percent }},
    "PercentOfAllVotersToInstantWin": {{ eco_basic_election_instant_win_percent }},
    "PercentOfAllVotersToInstantLose": {{ eco_basic_election_instant_lose_percent }},
    "AnonymousVoting": {{ eco_basic_election_anonymous_voting }}
  }
}
