{
  "AllowOverthrow": {{ eco_overthrow | lower }},
  "ValueAdditionToOverthrow": {{ eco_value_addition_overthrow }},
  "DayRangeForActiveDemographic": {{ eco_days_active_demo }},
  "PercentOfDaysToBeActiveForLongTermDemographic": {{ eco_percent_days_longterm_demo }},
  "HoursPlayedToBeActiveDemographic": {{ eco_hours_to_be_active_demo }},
  "DayRangeForAbandonedDemographic": {{ eco_days_abandoned_demo }},
  "HoursPlayedToBeAbandonedDemographic": {{ eco_hours_to_be_abandoned_demo }},
  "CitizenAgeForAbandonedDemographic": {{ eco_age_for_abandoned_demo }},
  "MinutesBetweenCivicsUpdates": {{ eco_civics_update_interval }},
  "AllowInvalidCivicContainerTimeInMinutes": {{ eco_allow_invalid_container_minutes }},
  "RecurringTransferFrequencyInMinutes": {{ eco_recurring_transfer_interval }},
  "AllowLawsToPreventLoginOrPlay": {{ eco_laws_prevent_login_play | lower }},
  "BasicElectionSettings": {
    "MaximumElectionHours": {{ eco_basic_election_max_hours }},
    "MinimumPercentOfEligibleVotersRequired": {{ eco_basic_election_voters_min_percent_required }},
    "MinimumDaysBetweenElectionsOfThisType": {{ eco_basic_election_min_days_between }},
    "EndElectionEarlyWhenThisPercentHaveVoted": {{ eco_basic_election_end_early_voters_percent }},
    "PercentOfAllVotersToInstantWin": {{ eco_basic_election_instant_win_percent }},
    "PercentOfAllVotersToInstantLose": {{ eco_basic_election_instant_lose_percent }},
    "AnonymousVoting": {{ eco_basic_election_anonymous_voting | lower }},
    "TwitchVoteWeight": {{ eco_twitchvotes_weight }},
    "MaxPercentTwitchVotes": {{ eco_twitchvotes_max_percent }}
  }
}
