{
  "CollaborationPreset": "{{ eco_difficulty_presets[eco_difficulty]['name'] }}",
  "DifficultyModifiers": {
    "SpecialtyCostMultiplier": {{ eco_difficulty_presets[eco_difficulty]['diff_mods']['spec_cost_multiplier'] }},
    "SkillGainMultiplier": {{ eco_difficulty_presets[eco_difficulty]['diff_mods']['skill_gain_multiplier'] }},
    "SpecialtyExperiencePerLevel": {{ eco_difficulty_presets[eco_difficulty]['diff_mods']['spec_xp_per_level'] }},
    "CraftResourceModifier": {{ eco_difficulty_presets[eco_difficulty]['diff_mods']['craft_resource_mod'] }},
    "CraftTimeModifier": {{ eco_difficulty_presets[eco_difficulty]['diff_mods']['craft_time_mod'] }},
    "SpecialtyRefundPercentage": {{ eco_specialty_refund_percent }},
    "PlayerExperiencePerSpecialtyExperience": {{ eco_difficulty_presets[eco_difficulty]['diff_mods']['player_xp_per_spec_xp'] }},
    "StackSizeModifier": {{ eco_stacksize_modifier }},
    "WeightModifier": {{ eco_weight_modifier }},
    "FuelModifier": {{ eco_fuel_modifier }},
    "GrowthRateModifier": {{ eco_growth_rate_mult }},
    "ConnectionRangeModifier": {{ eco_conrange_modifier }}
  },
  "EndgameCraftCost": "{{ eco_difficulty_presets[eco_difficulty]['endgame_cost'] }}",
  "SkillbookCraftCost": "{{ eco_difficulty_presets[eco_difficulty]['skillbook_cost'] }}"
}
