{
  "BotToken": "{{ eco_dislink_bot_token }}",
  "EcoBotName": "{{ eco_dislink_bot_name }}",
  "DiscordCommandPrefix": "{{ eco_dislink_cmd_prefix }}",
  "AdminRoles": {{ eco_dislink_admin_roles | to_nice_json }},
  "ServerName": "{{ eco_dislink_server_name }}",
  "ServerDescription": "{{ eco_dislink_server_desc }}",
  "ServerLogo": "{{ eco_dislink_server_logo }}",
  "ServerAddress": "{{ eco_dislink_server_address }}",
  "ChatChannelLinks": {{ eco_dislink_chat | to_nice_json }},
  "TradeChannels": {{ eco_dislink_trades | to_nice_json }},
  "CraftingChannels": {{ eco_dislink_craft |to_nice_json }},
  "ServerInfoChannels": {{ eco_dislink_server_info | to_nice_json }},
  "WorkPartyChannels": {{ eco_dislink_workparty | to_nice_json }},
  "PlayerListChannels": {{ eco_dislink_players | to_nice_json }},
  "ElectionChannels": {{ eco_dislink_elections | to_nice_json }},
  "CurrencyChannels": {{ eco_dislink_currency | to_nice_json }},
  "SnippetChannels": {{ eco_dislink_snippet | to_nice_json }},
  "DiscordCommandChannels": {{ eco_dislink_command | to_nice_json }},
  "MaxTrackedTradesPerUser": {{ eco_dislink_max_tracked }},
  "LogLevel": "{{ eco_dislink_loglevel }}",
  "BackendLogLevel": "{{ eco_dislink_backend_loglevel }}",
  "LogChat": {{ eco_dislink_log_chat }},
  "ChatlogPath": "{{ eco_dislink_chatlog_path }}",
  "EcoCommandOutputChannel": "{{ eco_dislink_cmd_output_channel }}",
  "InviteMessage": "{{ eco_dislink_invite_msg }}"
}
