{
  "RentEnabled": {{ eco_rent | lower }},
  "VoiceChatEnabled": {{ eco_voice_chat | lower }},
  "FoodVarietyMultiplierEnabled": {{ eco_food_variety | lower }},
  "FoodTastinessMultiplierEnabled": {{ eco_food_tastiness | lower }}
}
