{
    "AutoShutdownHour": {{ eco_autoshutdown_hour }},
    "AutoShutdownReason": "{{ eco_autoshutdown_reason }}",
    "CountdownIntervals": {{ eco_countdown_intervals }},
    "CountdownStart": {{ eco_countdown_start }}
}
