{
    "AutoShutdownHour": {{ eco_autoshutdown_hour }},
    "AutoShutdownMessage": "{{ eco_autoshutdown_msg }}",
    "ReasonForAutoShutdown": "{{ eco_autoshutdown_reason }}",
    "CountdownIntervals": {{ eco_countdown_intervals }},
    "CountdownStart": {{ eco_countdown_start }}
}
