{
  "PublicServer": {{ eco_is_public | lower }},
  "Playtime": "{{ eco_playtime | join('') }}",
  {% if eco_discord != "" %}
  "DiscordAddress": "{{ eco_discord }}",
  {% endif %}
  "Password": "{{ eco_password }}",
  "Description": "{{ eco_description }}",
  "DetailedDescription": "{{ eco_detailed_desc }}",
  "ServerCategory": "{{ eco_category }}",
  "IPAddress": "{{ eco_ip_address }}",
  "RemoteAddress": "{{ eco_remote_address }}",
  "WebServerUrl": "{{ eco_web_url }}",
  "GameServerPort": {{ eco_game_port }},
  "WebServerPort": {{ eco_web_port }},
  "RconServerPort": {{ eco_rcon_port }},
  "RconIPAddress": "Any",
  "RconPassword": "{{ eco_rcon_password }}",
  "Rate": {{ eco_rate }},
  "DefaultSlots": {{ eco_default_slots }},
  "ReservedSlots": {{ eco_reserved_slots }},
  {% if eco_server_id != "" %}
  "ID": "{{ eco_server_id }}",
  {% endif %}
  {% if eco_server_passport != "" %}
  "Passport": "{{ eco_server_passport }}",
  {% endif %}
  "UPnPEnabled": {{ eco_upnp | lower }},
  "RelayServerAddress": "{{ eco_relay }}"
}
