{
  "EmptyBlocksCountAsWindows": {{ eco_empty_blocks_count_as_windows | lower }},
  "RoomCategoryDiminishingReturnRate": {{ eco_room_cat_diminishing_return_rate }},
  "WallBlocksPerWindow": {{ eco_wall_blocks_per_window }}
}
