{
  "EnableStatWrites": {{ eco_enable_stat_writes | lower }},
  "EnableStatReads": {{ eco_enable_stat_reads | lower }},
  "EnablePendingWritesOnBackup": {{ eco_enable_pending_writes_on_backup | lower }},
  "WriteTimeoutMS": {{ eco_write_timeout_ms }},
  "ReadTimeoutMS": {{ eco_read_timeout_ms }},
  "StorageDirectory": "{{ eco_storage_dir }}",
  "MaxRecordsToGroup": {{ eco_max_records_group }},
  "KeepDetailsHours": {{ eco_keep_details_hours }},
  "RebuildDatabaseOnExit": {{ eco_rebuild_db_on_exit | lower }},
  "GroupingLevel": "{{ eco_grouping_level }}"
}
