{
  "SaveName": "{{ eco_storage_save_name }}",
  "SaveFrequency": {{ eco_storage_save_frequency }},
  "CleanupFilesOnExceptions": {{ eco_storage_cleanup_on_exceptions }},
  "UseCacheForDBQueries": {{ eco_storage_db_queries_use_cache }},
  "StorageDirectory": "{{ eco_storage_dir }}"
}
