{
  "SaveName": "{{ eco_storage_save_name }}",
  "SaveFrequency": {{ eco_storage_save_frequency }},
  "CleanupFilesOnExceptions": {{ eco_storage_cleanup_on_exceptions | lower }},
  "StorageDirectory": "{{ eco_storage_dir }}",
  "NewGameTemplate": "{{ eco_storage_newgame_template }}"
}
