{
  "UseWaste": false,
  "MaxRepFromOnePerson": {{ eco_maxrep_from_one_person }},
  "MinRepFromOnePerson": {{  eco_minrep_from_one_person }},
  "ConfigVersion": 1,
  "SLGAccountName": "",
  "SLGAccountPassword": "",
  "APIAuthToken": "",
  "APIAdminAuthToken": "",
  "AllowDebugCalls": false,
  "Reputations": {
    "Eco.Gameplay.Economy.ReputationTitle": {
      "$type": "System.Collections.Generic.List`1[[Eco.Gameplay.Economy.ReputationTitle, Eco.Gameplay]], System.Private.CoreLib",
      "$values": [
        {
          "MaxReputation": -500.0,
          "Title": "Reprehensible",
          "Color": "FF4623"
        },
        {
          "MaxReputation": -200.0,
          "Title": "Abhorred",
          "Color": "FF5A24"
        },
        {
          "MaxReputation": -100.0,
          "Title": "Nefarious",
          "Color": "FF7025"
        },
        {
          "MaxReputation": -50.0,
          "Title": "Shunned",
          "Color": "FFA028"
        },
        {
          "MaxReputation": -20.0,
          "Title": "Ill-Regarded",
          "Color": "FFC32A"
        },
        {
          "MaxReputation": -10.0,
          "Title": "Unfavorable",
          "Color": "FFF62D"
        },
        {
          "MaxReputation": -5.0,
          "Title": "Questionable",
          "Color": "E8EB43"
        },
        {
          "MaxReputation": -2.0,
          "Title": "Uncertain",
          "Color": "B2CE76"
        },
        {
          "MaxReputation": -1.0,
          "Title": "Unknown",
          "Color": "2581FE"
        },
        {
          "MaxReputation": 1.0,
          "Title": "Unknown",
          "Color": "2581FE"
        },
        {
          "MaxReputation": 2.0,
          "Title": "Helpful",
          "Color": "2899FE"
        },
        {
          "MaxReputation": 5.0,
          "Title": "Respected",
          "Color": "2EB6FC"
        },
        {
          "MaxReputation": 10.0,
          "Title": "Friendly",
          "Color": "34D4FA"
        },
        {
          "MaxReputation": 20.0,
          "Title": "Well-Regarded",
          "Color": "3DFFF8"
        },
        {
          "MaxReputation": 50.0,
          "Title": "Esteemed",
          "Color": "51FFB7"
        },
        {
          "MaxReputation": 100.0,
          "Title": "Celebrated",
          "Color": "61FF82"
        },
        {
          "MaxReputation": 200.0,
          "Title": "Honored",
          "Color": "70FF4F"
        },
        {
          "MaxReputation": 500.0,
          "Title": "Revered",
          "Color": "77FF37"
        },
        {
          "MaxReputation": 1000.0,
          "Title": "Exalted",
          "Color": "7BFF29"
        }
      ]
    }
  },
  "UnStuckDisableTime": {{ eco_unstuck_cooldown }},
  "AdminCommandsLoggingLevel": "{{ eco_admin_cmds_logging }}",
  "DelayNearbyFoodCheckMinutes": 4.0,
  "NearbyFoodSpawnLocationRadius": 20.0,
  "NearbyFoodSpawnCount": 5,
  "UseExactSpawnLocation": {{ eco_exact_spawn | lower }},
  {% if eco_spawn_x != ''
    and eco_spawn_y != ''
    and eco_spawn_z != '' %}
  "SpawnLocation": {
    "x": {{ eco_spawn_x }},
    "y": {{ eco_spawn_y }},
    "z": {{ eco_spawn_z }}
  },
  {% endif %}
  "SpawnSearchRange": 600,
  "MovementHackDetection": {{ eco_movehack_detect | lower }},
  "RequiredOccupancyBeforeAFKKick": {{ eco_occupancy_before_afk_kick }},
  "TimeRequiredForAFKMinutes": {{ eco_afk_delay }},
  "UserPermission": {
    "WhiteList": {
      "UserIDAddedEvent": {},
      "UserIDRemovedEvent": {},
      "Collection": {
        "System.String": {
          "$type": "System.Collections.Generic.List`1[[System.String, System.Private.CoreLib]], System.Private.CoreLib",
          "$values": [{{ ']' if not eco_whitelist | length else '' }}
          {% for id in eco_whitelist | unique %}
            "{{ id }}"{{ '' if loop.last else ',' }}
          {% endfor %}
          {{ ']' if eco_whitelist | length }}
        }
      }
    },
    "BlackList": {
      "UserIDAddedEvent": {},
      "UserIDRemovedEvent": {},
      "Collection": {
        "Eco.Gameplay.Players.TimeUser": {
          "$type": "System.Collections.Generic.List`1[[Eco.Gameplay.Players.TimeUser, Eco.Gameplay]], System.Private.CoreLib",
          "$values": [{{ ']' if not eco_blacklist | length else '' }}
          {% for id in eco_blacklist | unique %}
            {
              "UserName": "{{ id.UserName }}",
              "ReleaseDate": "{{ id.ReleaseDate }}"
            }{{ '' if loop.last else ',' }}
          {% endfor  %}
          {{ ']' if eco_blacklist | length }}
        }
      }
    },
    "MuteList": {
      "UserIDAddedEvent": {},
      "UserIDRemovedEvent": {},
      "Collection": {
        "Eco.Gameplay.Players.TimeUser": {
          "$type": "System.Collections.Generic.List`1[[Eco.Gameplay.Players.TimeUser, Eco.Gameplay]], System.Private.CoreLib",
          "$values": [{{ ']' if not eco_mutelist | length else '' }}
          {% for id in eco_mutelist | unique %}
            {
              "UserName": "{{ id.UserName }}",
              "ReleaseDate": "{{ id.ReleaseDate }}"
            }{{ '' if loop.last else ',' }}
          {% endfor  %}
          {{ ']' if eco_mutelist | length }}
        }
      }
    },
    "Admins": {
      "UserIDAddedEvent": {},
      "UserIDRemovedEvent": {},
      "Collection": {
        "System.String": {
          "$type": "System.Collections.Generic.List`1[[System.String, System.Private.CoreLib]], System.Private.CoreLib",
          "$values": [{{ ']' if not eco_adminlist | length else '' }}
          {% for id in eco_adminlist | unique %}
            "{{ id }}"{{ '' if loop.last else ',' }}
          {% endfor %}
          {{ ']' if eco_adminlist | length }}
        }
      }
    },
    "QueuePriorities": {
      "Eco.Gameplay.Players.QueuePriority": {
        "$type": "System.Collections.Generic.List`1[[Eco.Gameplay.Players.QueuePriority, Eco.Gameplay]], System.Private.CoreLib",
        "$values": [
          {
            "Priority": 0,
            "Title": "Default Priority",
            "Users": ""
          },
          {
            "Priority": 1,
            "Title": "Priority 1",
            "Users": ""
          },
          {
            "Priority": 2,
            "Title": "Priority 2",
            "Users": ""
          }
        ]
      }
    },
    "UsersWithReservedSlotsAtQueue": {
      "UserIDAddedEvent": {},
      "UserIDRemovedEvent": {},
      "Collection": {
        "System.String": {
          "$type": "System.Collections.Generic.List`1[[System.String, System.Private.CoreLib]], System.Private.CoreLib",
          "$values": []
        }
      }
    }
  }
}
