{
  "AudibleDistance": {{ eco_voice_audible_dist }},
  "ConversationalDistance": {{ eco_voice_conversational_dist }},
  "AudioFadeModel": "{{ eco_voice_fade_model }}",
  "AudioFadeIntensityByDistance": {{ eco_voice_fade_intensity_by_dist }}
}
