{
  "RecordEvents": {{ eco_chronicler_record_events | lower }},
  "PerformanceCounterInterval": {{ eco_chronicler_perfcounter_interval }},
  "LogLevel": "{{ eco_chronicler_loglevel }}",
  "DatabaseName": "{{ eco_chronicler_db_name }}"
}
