{
  "DiscordServer": "{{ eco_dl_server }}",
  "BotToken": "{{ eco_dl_bot_token }}",
  "EcoBotName": "{{ eco_dl_bot_name }}",
  "AdminRoles": {{ eco_dl_admin_roles | to_nice_json }},
  "MinEmbedSizeForFooter": "{{ eco_dl_footer_min_size }}",
  "ServerName": "{{ eco_dl_server_name }}",
  "ServerDescription": "{{ eco_dl_server_desc }}",
  "ServerLogo": "{{ eco_dl_server_logo }}",
  "ConnectionInfo": "{% if eco_dl_connection_info | length > 0 %}<eco://connect/{{ eco_dl_connection_info }}>{% endif %}",
  "WebServerAddress": "{{ eco_dl_webserver_address }}",
  "DiscordCommandPrefix": "{{ eco_dl_cmd_prefix }}",
  "ChatChannelLinks": [{{ eco_dl_chat | to_nice_json }}],
  "TradeFeedChannels": [
    {
      "DiscordChannel": "{{ eco_dl_trades_chan }}"
    }
  ],
  "CraftingFeedChannels": [
    {
      "DiscordChannel": "{{ eco_dl_crafts_chan }}"
    }
  ],
  "ServerStatusFeedChannels": [
    {
      "DiscordChannel": "{{ eco_dl_server_status_chan }}"
    }
  ],
  "PlayerStatusFeedChannels": [
    {
      "DiscordChannel": "{{ eco_dl_players_status_chan }}"
    }
  ],
  "ElectionFeedChannels": [
    {
      "DiscordChannel": "{{ eco_dl_elections_feed_chan }}"
    }
  ],
  "ServerLogFeedChannels": [
    {
      "LogLevel": "{{ eco_dl_server_logs.level }}",
      "DiscordChannel": "{{ eco_dl_server_logs.chan }}"
    }
  ],
  "ServerInfoDisplayChannels": [{{ eco_dl_server_info | to_nice_json }}],
  "WorkPartyDisplayChannels": [
    {
      "DiscordChannel": "{{ eco_dl_workparty_chan }}"
    }
  ],
  "ElectionDisplayChannels": [
    {
      "DiscordChannel": "{{ eco_dl_elections_display_chan }}"
    }
  ],
  "CurrencyDisplayChannels": [{{ eco_dl_currency | to_nice_json }}],
  "SnippetInputChannels": [
    {
      "DiscordChannel": "{{ eco_dl_snippet_chan }}"
    }
  ],
  "UseLinkedAccountRole": {{ eco_dl_linked_account_role | lower }},
  "UseDemographicRoles": {{ eco_dl_use_demographics_roles | lower }},
  "DemographicReplacementRoles": {{ eco_dl_demographic_replacements | to_nice_json }},
  "UseSpecialtyRoles": {{ eco_dl_specialty_roles | lower }},
  "DiscordCommandChannels": [
    {
      "DiscordChannel": "{{ eco_dl_command_chan }}"
    }
  ],
  "MaxTradeWatcherDisplaysPerUser": {{ eco_dl_user_max_trade_watcher }},
  "InviteMessage": "{{ eco_dl_invite_msg }}",
  "LogLevel": "{{ eco_dl_loglevel }}",
  "BackendLogLevel": "{{ eco_dl_backend_loglevel }}",
  "UseVerboseDisplay": {{ eco_dl_verbose_display | lower }}
}
